@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 222, 214);
}

h1 {
    color: rgb(156, 33, 33);
    background-color: aqua;
    font-size: 30pt;
}

h2 {
    color: brown;
    font-size: 23pt;
}

p {
    color: black;
    font-size: 15pt;
}

a {
    color: blue;
    font-size: 15pt;
}
